@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;  /* Chrome, Safari and Opera */
  }

  @keyframes gradientMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  
  .header-background {
    background: linear-gradient(270deg, 
      rgba(228, 76, 149, 0.55), 
      rgba(161, 150, 202, 0.55),  
      rgba(74, 86, 255, 0.55),   
      rgba(121, 140, 255, 0.55), 
      rgba(149, 56, 255, 0.55)       
    );
    background-size: 400% 400%;
    animation: gradientMove 10s infinite;
  }

  .header-background-preview {
    background: linear-gradient(270deg, 
    rgba(255, 0, 0, 0.4), /* Neon Red */
    rgba(255, 50, 50, 0.4), /* Light Red */
    rgba(169, 50, 50, 0.4), /* Light Red Gray */
    rgba(128, 0, 0, 0.4), /* Dark Red */
    rgba(105, 0, 0, 0.4)  /* Darker Red */
  );
    background-size: 400% 400%;
    animation: gradientMove 10s infinite;
  }

  .gradient-overlay::before {
    content: "";
    position: absolute;
    inset: 0; /* Cover the entire div */
    z-index: 1; /* Ensure it overlays the content */
    background: linear-gradient(
      to top, 
      rgba(0, 0, 0, 1) 10%, /* Black at the bottom 10% */
      rgba(0, 0, 0, 0) 30%  /* Fully transparent by 30% */
    );
    border-radius: inherit; /* Match the border radius of the parent */
    pointer-events: none; /* Allow clicks through the gradient */
  }